@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');



* {
  box-sizing: border-box;
  font-family: VT323;
}






html, body {
  padding: 0;
  margin: 0;
}
.nav ul{
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  color: white;
  padding: .8em;
  text-decoration: none;
}
  
  .main-nav {
    text-align: center;
    font-size: 2.8em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(193, 66, 66, 0.3);
  }
  
  .main-nav li {
    padding: 0 7%;
  }
  
  
  
.nav a:hover {
  background-color: rgba(193, 66, 66, 0.3);
}

.main-header {
  background-color: rgba (0, 0, 0, .6);
  background-image: url("5e99e209dcd88c7783220c24.jpeg");
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.about-text {
  text-align: center;
  margin: 0;
  font-size: 5em;
  color: purple;
}

.about-text-size {
  font-size: 5em;
}



